.filter {
  font-family: "OpenSans", sans-serif;
  position: fixed;
  margin-top: 100px;
  padding-left: 20px;
  width: 280px;
  border-right: 1px solid #d6d6d6;
  float: left;
}

.filter li {
  display: block;
}

.catalog {
  padding-top: 100px;
  padding-right: 10px;
  margin-left: 320px;
  margin-right: 200px;
}

.card {
  border: 1.3px solid #f4f4f4;
  transition: 0.3s;
  justify-content: space-between;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  border: 1.3px solid #d6d6d6;
}

#shoe-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#price {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.btn-addcart {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: #000000;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

.btn-addcart:hover {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}
