/* Global css */

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  src: url('/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
  margin: 0px;
}

.content-wrapper {
  min-height: 100vh;
}

.content {
  background-color: #ffffff;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* landing page css */

.index-topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Playfair Display", serif;
  display: inline-block;
}

.index-topnav-right {
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 220;
  padding: 10px;
}

.index-topnav-right .login {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 220;
  border: 0.8px solid black;
  padding: 10px;
}

.index-logo {
  font-size: 45px;
  color: black !important;
}

.index-content-wrapper {
  height: 100vh;
  background-color: #f4f4f4;
}

.index-content {
  padding: 50px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 460px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
}

.column > img {
  transition-duration: 0.8s;
}

.column:hover > img {
  -ms-transform: translate(0px, -25px); /* IE 9 */
  -webkit-transform: translate(0px, -25px); /* Safari */
  transform: translate(0px, -25px);
}

#tag {
  font-family: "Playfair Display", serif;
  letter-spacing: 7px;
}

.column > #tag {
  margin-top: -45px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.column:hover > #tag {
  visibility: visible;
  opacity: 1;
}

.landing-row {
  display: flex;
}

.index-footer-wrapper {
  font-family: "Playfair Display", serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f4f4f4;
  color: black;
}

.index-footer {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
}

.index-footer-left {
  float: left;
  color: #808080;
}

.index-footer-right {
  float: right;
}

a {
  text-decoration: none;
  color: #808080;
  letter-spacing: 1px;
}
