.content-wrapper {
  padding-top: 100px;
  padding-right: 10px;
  margin-left: 200px;
  margin-right: 200px;

}
.cart-header {
  width: 100%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}

.cart-content {
  margin-bottom: 100px;
}

.table-wrapper{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

}

img{
  vertical-align: middle;
  width: 60px;
  height: 100px;
  align-content: center;
}

#emptyCart {
  vertical-align: middle;
  width: 100%;
  text-align: center;

}

table{
  vertical-align: middle;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 3px 3px;
  text-align: center;
  border-radius:10px;
  border:1px solid #ccc;
  border-bottom:2px solid #bbb;
  border-top:1px solid #ddd;
  border-collapse: collapse;
}

input[type="number"] {
  width:40px;
  height:20px;
}

.btn-confirm {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: #000000;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.btn-confirm:hover {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

#updateBtn, #editBtn{
  float: middle;
}

#trashBtn{
  width:15px;
  height: 20px;
}

#empty{
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#updateCartMessage {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#updateCartMessage.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
