.small-shopping-cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.5px solid #e6e6e6;
  cursor: pointer;
  background-color: white;
}

.small-shopping-cart:hover {
  width: 400px;
  height: 250px;
  border-radius: 0px;
  border: 1.5px solid #d6d6d6;
  background-color: white;
  cursor: auto;
  /* transition: width 0.5s, height 0.5s; */
}

.small-shopping-cart:hover > img {
  display: none;
}

.small-shopping-cart:hover > .small-shopping-cart-content {
  padding: 10px;
  display: inline;
}

.small-shopping-cart-content {
  display: none;
}

.small-shopping-cart-header {
  /* padding-top: 20px;
  margin-left: 20px; */
  display: inline;
  font-family: "Montserrat", sans-serif;
}

.spanCenter{
  text-align: center;
  display: block;

}

img {
  margin-left: 8px;
  margin-top: 10px;
}

.btn-addSmallCart {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: #000000;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
  /* display: inline; */
  margin-top: 10px;
}

.btn-addSmallCart:hover {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

table{
  text-align: center;
  margin: auto;
  width: 80%;
}

.btnCenter{
  text-align: center;
}
