.content-item {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
}

.picture-wrapper {
  margin-right: 30px;
  background-color: #f0ede8;
}

.container {
  text-align: center;
}

.thumbnail {
  padding-left: 10px;
  padding-right: 10px;
}

.shoe-name-item {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: black;
  font-size: 25px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}

#price {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}

.size {
  font-family: "Montserrat", sans-serif;
}

.specs {
  margin-top: 50px;
}

.specs .header {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.specs .lists ul {
  color: black;
  list-style-type: disc;
  margin-top: 20px;
  margin-left: 30px;
  text-align: left;
}

.specs .lists li {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 280;
  padding: 3px;
  display: list-item;
}

.reviews {
  margin-top: 50px;
}

.reviews .header {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.reviews table {
  font-family: "Montserrat", sans-serif;
  font-weight: 280;
  margin-top: 20px;
  text-align: left;
}

.reviews table tr {
  border-bottom: 1pt solid #cecece;
}

.name {
  width: 30px;
}

form {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

textarea,input{
  font-family: "Montserrat", sans-serif;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
}

textarea:focus, input:focus {
  outline: none;
}

.recommendation-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.recommendation-header {
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.8px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.recommendation {
  padding-left: 100px;
  padding-right: 100px;
}

.card {
  border: 1.3px solid #f4f4f4;
  transition: 0.3s;
  justify-content: space-between;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  border: 1.3px solid #d6d6d6;
}

.btn-shoename {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: black;
  cursor: pointer;
}

.btn-shoename:hover {
  text-decoration: underline;
}

.btn-addcart {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: #000000;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

.btn-addcart:hover {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

.col img {
  cursor: pointer;
}

.cart {
  z-index: 10;
  overflow-x: auto;
  overflow-y: auto;
  float: right;
  position: fixed;
  top: 140px;
  right: 50px;
}

select{
  border: none;
}
