@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

.header-center {
  height: 50px;
  background-color: #f4f4f4;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  position: fixed;
}

.topnav-right {
  float: right;
  margin-top: -40px;
  margin-right: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 220;
  padding: 10px;
}

.topnav-right .login {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 220;
  border: 0.8px solid black;
  padding: 10px;
}

ul {
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

li a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #888;
}

.logo {
  font-size: 35px;
  color: black !important;
}

a:hover {
  color: black;
}
