.filter {
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  position: fixed;
  margin-top: 100px;
  padding-left: 20px;
  width: 280px;
  border-right: 1px solid #d6d6d6;
  float: left;
}

.filter li {
  display: block;
}

.content-catalog {
  z-index: -1;
}

.catalog {
  padding-top: 100px;
  padding-right: 10px;
  margin-left: 320px;
  margin-right: 200px;
}

.card {
  border: 1.3px solid #f4f4f4;
  transition: 0.3s;
  justify-content: space-between;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

.card:hover {
  border: 1.3px solid #d6d6d6;
}

#shoe-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: black;
}

#price {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}

.btn-shoename {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: black;
  cursor: pointer;
}

.btn-shoename:hover {
  text-decoration: underline;
}

.btn-addcart {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: #000000;
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 40px;
  margin-right:10px;
}

.btn-addcart:hover {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  padding: 8px 15px;
  cursor: pointer;
}

.cart {
  z-index: 10;
  overflow-x: auto;
  overflow-y: auto;
  float: right;
  position: fixed;
  top: 140px;
  right: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.font-modal{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 220;
}

#modal_price{
  font-size: 20px;
  margin-bottom: 10px;
}

#modal_name{
  font-family: "Playfair Display", serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
}

#modal_quantity{
  margin-bottom: 20px;
}

#modal_size{
  margin-bottom: 10px;
}

input[type=number]{
  font-family: "Montserrat", sans-serif;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
}

select{
  border: none;
}
